.git/
.github/
.gitignore
.helmignore
.runtime/
*.log

*.swp
*.tmp
*.bak
*.~*

ts-*/

deployment/
build/
old-docs/
hack/
jenkins-ci/
image/
script/
deploy-job/
docker/

docker-compose.yml

Makefile
README.md
LICENSE
CHANGELOG*.md
build_upload_image.py
.env
pom.xml
